.carousel-inner {
  width: 744px;
  height: 498px;
}

.carousel .carousel-item img {
  width: 900px;
  height: 498px;
}

.login-main {
  margin-top: 100px;
}

.form-group label,
button {
  font-weight: bold;
}
